.activeArea {
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-self: center;
}

.msg {
    z-index: 2;
    position: absolute;
    align-self: end;
    padding-bottom: 1.5rem;
}

.background {
    flex: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}

.background::after {
    z-index: 1;
    content: "";
    backdrop-filter: blur(5px);
    flex: inherit;
    background-color: rgba(26, 26, 26, 0.548);
}

.foda {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #485fc7
}

.foda:hover {
    color: #363636;
}