.uploadButton {
    display: flex;
    border-radius: 50%;
    z-index: 100;
    position: fixed;
    background-color: #42A5F5;
    color: white;
    width: 5rem;
    height: 5rem;
    bottom: 2rem;
    right: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    transition-duration: 200ms;
    transition-property: filter;
}

@media (max-width: 734px) {
    .uploadButton {
        width: 3.5rem;
        height: 3.5rem;
        bottom:0.75rem;
        right: 0.75rem;
        font-size: 2rem;
    }
}

.uploadButton:hover {
    filter: brightness(0.7);
}