.imgsContainer {
    margin: 2rem;
    display: grid;
    height: fit-content;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 20rem));
    gap: 2rem;
    justify-content: center;
}

@media (max-width: 734px) {
    .imgsContainer {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
}

/* @media (max-width: 19rem) {
    .imgsContainer {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
} */
