html,
body {
    height: 100%;
    width: 100%;
    margin: unset;
    background-color: #161b27;
    overflow: unset !important;
}

#root {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-flow: column;
}

.conteudo {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}