html,
body {
    height: 100%;
    width: 100%;
    margin: unset;
    background-color: #161b27;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.navbar {
    flex: 0 1 auto;
    background-color: #372d42;
}

.conteudo {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}
